{% extends '_base.html' %}
{% block content %}
<div class="expenses-container">
  <div class="expenses-header">
    <h1>{% block title %}Expense Management{% endblock %}</h1>
    <div class="expenses-actions">
      {% block actions %}
      <a href="{{ url_for('expenses.new_receipt') }}" class="btn primary">
        <i class="fa fa-plus"></i> New Expense Receipt
      </a>
      {% endblock %}
    </div>
  </div>

  {% block expenses_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/expenses.js') }}"></script>

{% endblock %}
